//! **************************************************************************
// Written by: Map P.20131013 on Mon May 25 19:57:39 2015
//! **************************************************************************

SCHEMATIC START;
NET "CK_50MHz_BUFGP/IBUFG" BEL "CK_50MHz_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

