//! **************************************************************************
// Written by: Map P.20131013 on Sun Jun 14 00:39:13 2015
//! **************************************************************************

SCHEMATIC START;
NET "CK_50MHz_BUFGP/IBUFG" BEL "CK_50MHz_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

